 /* Three columns side by side */
 .column {
    float: left;
    /* width: 25%; */
    margin-bottom: 16px;
    padding: 0 8px;
    border-radius: 10%;
    border: 1em;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    cursor: pointer;
  }
  .card:hover {
    background-color: lightgrey;
    
  }

  .card:hover #hello {
    opacity: 0.7;
  }

  .card:hover p {
    color: black;
  }

  .card:hover .title {
    /* font-weight: bold; */
    text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  /* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  .title {
    color: grey;
  }
  
  #hello {
      width: 100%;
      max-height: 175;
      max-width: 100%;
  }
  
  .maxLines {
    display:inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    white-space: pre-line;
    width: 100%;
  }

  /* .overlay {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  
  .container:hover .overlay {
    opacity: 1;
  }

  .container {
    position: relative;
    
   
  } */


/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */