
.fa1 {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  
.title {
    color: grey;
    font-size: 18px;
    
  }

.c1 {
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
  }

  .vertically-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20% !important;
  }

  .bannerUser {
      font-family: 'Sofia';
      color: black;
  }