
.jumbotron {
    color: #2c3e50;
    background: #ffffff;
    margin-top: 5em;
}

.bg-primary {
    background: #2c3e50  !important;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-family: cursive;

}

.navbar-light .navbar-brand:hover {
    color: lightcyan;
}

button, input, optgroup, select, textarea {
    margin: 6px;
}

.nav-item {
    padding-right: 1em;
}
