.jumbotron {
    background-image: url("../../../resources/jumbotron.jpg");
    background-size: cover;
    margin-top: 5em;
}

.color {
    color: #fea;
}

.h1, h1 {
    color: red;
}

@media screen and (max-width: 600px){
    .jumbotron {
        padding-top: 10%;
    }
}