.jumbotron1 {
    background-image: url("../../../resources/jumbotron.jpg");
    background-size: cover;
    margin-top: 5em;
    opacity: 0.95;
}
.jumbotron2 {
    background-image: url("../../../resources/jumbotron2.jpg");
    background-size: cover;
    margin-top: 5em;
    opacity: 0.95;
}


.color1 {
    color: rgb(8, 8, 7);
}
.color2 {
    color: rgb(228, 228, 228);
}

.h1, h1 {
    color: black;
}

@media screen and (max-width: 600px){
    .jumbotron {
        padding-top: 10%;
    }
}